.navbar{
  z-index: 10;
}

.carousel-inner{
 margin-top: -75px;
 height:100%;
 padding-bottom: 200px;
}

.brand{
  margin-top: -181px;
 font-weight: bolder;
 font-size: large;
 color: indigo;
}

.container.content, .section-empty > .content, .section-bg-image > .content, .section-bg-video > .content, .section-bg-animation > .content, .section-slider > .content, .section-bg-color > .content, .section-item > .content, .section-two-blocks .content {
  padding-top: 80px;
  padding-bottom: 80px;
 /* background-image: url('./Images/viktor.jpg'); */
 background-color: whitesmoke;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.title-base {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.title-base {
  text-align: center;
  position: relative;
}
.title-base hr {
  width: 50px;
  height: 3px;
  background-color: #694D94;
  border: none;
  margin-top: 0;
}

.title-base hr, .block-infos .block-comment, .advs-box-side-img hr {
  display: none;
}
.title-base h2, .title-base h1, .title-icon h2, .title-icon h1, .title-base.title-small h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 34px;
  text-transform: uppercase;
  margin-top: 0;
}

div > p:last-child {
  margin-bottom: 0;
}
.title-base p {
  margin: auto;
  padding-bottom: 5px;
  font-size: 14px;
  opacity: .8;
  font-style: italic;
}
hr.space.s {
  height: 20px;
}
hr.space {
  border: none !important;
  clear: both;
  height: 70px;
  margin: 0;
  color: white;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.list-items .list-item {
  border-bottom-style: solid;
  background: none;
}
.list-items .list-item {
  padding: 10px 0;
  border-bottom: 1px dashed #E6E6E6;
  transition: padding .3s;
}

.list-items .list-item h3 {
  text-transform: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.list-items .list-item p {
  font-size: 12px;
  line-height: 18px;
  color: #797979;
  margin-top: 5px;
}

list-items .list-item span {
  font-weight: 300;
  font-size: 15px;
}
div.adv-img-side-content .btn:hover, .nav-pills > li.active > a, .list-items .list-item span, div.adv-img-side-content .btn:hover i, .datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
  border-color: #2e2e2e !important;
  color: #2e2e2e !important;
}
.list-items .list-item span {
  text-align: right;
  display: block;
  font-size: 20px;
  white-space: nowrap;
  font-weight: 600;
  color: #696969;
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .modal-footer:after {
  clear: both;
}

.hadding{
  color: #694D94;
}